.conten{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    /* background-color: rgb(103, 103, 103); */
}
.Buttonpost{
    position:relative;
    text-align: right;
    margin-right: 25px;
}

